<app-loading [isLoading]="isLoading"></app-loading>

<div class="container mt-4" *ngIf="!isLoading">
    <h1 class="mt-3">
        Editar Movimiento
    </h1>

    <ng-container *ngIf="!isLoading; else loading">
        <ng-container *ngIf="transaction; else notFound">
            <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                <div class="row mb-3">
                    <div class="col">
                        <label for="movementType"> Tipo de Movimiento</label>
                        <input type="text" class="form-control" name="movementType" id="movementType" [(ngModel)]="transaction.movementType" disabled>
    
                        
    
                        
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="date">Fecha</label>
                        <input type="date" class="form-control" name="date" id="date" 
                        [ngModel]="transaction.date | date:'yyyy-MM-dd'"
                        (ngModelChange)="updateDate($event)">
                    </div>
                    <div class="col-md-6">
                        <label for="asset">Moneda</label>
                        <!-- <input type="text" class="form-control" name="asset" id="asset" [(ngModel)]="transaction.assetName" disabled> -->
                        <select class="form-control" name="asset" id="asset" [(ngModel)]="transaction.assetId" required>
                            <option *ngFor="let asset of assets" [value]="asset.id">{{asset.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="account">Cuenta</label>
                        <!-- <input type="text" class="form-control" name="account" id="account" [(ngModel)]="transaction.accountName" disabled> -->
                        <select class="form-control" name="account" id="account" [(ngModel)]="transaction.accountId" required>
                            <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="transactionClass">Clase de Movimiento</label>
                        <!-- <input type="text" class="form-control" name="transactionClass" id="transactionClass" [(ngModel)]="transaction.transactionClassName" disabled> -->
                        <select class="form-control" name="transactionClass" id="transactionClass" [(ngModel)]="transaction.transactionClassId" required>
                            <option *ngFor="let transactionClass of transactionClasses" [value]="transactionClass.id">{{transactionClass.description}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="detail">Detalle</label>
                        <!-- <input type="text" class="form-control" name="description" id="description" [(ngModel)]="transaction.description"> -->
                        <textarea class="form-control" name="detail" id="detail" [(ngModel)]="transaction.detail"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="amount">Monto</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control" name="amount" id="amount" [(ngModel)]="transaction.amount" appCurrencyInput>
                        </div>
                        <!-- <div *ngIf="form.controls['amount']?.errors?.['incorrect'] && form.controls['amount'].touched" class="text-danger mt-2">
                            El monto debe ser un número válido mayor que 0.
                        </div> -->
    
                    </div>
    
                    <div class="row mb-3">
                
                        <div class="mt-1">
                            <button type="submit" class="btn btn-primary m-1">Guardar</button>
                            <a class="btn btn-secondary" [routerLink]="['/transactions']">Volver</a>
                        </div>                             
                    </div>
                </div>
            </form>
        </ng-container>
    
    
        <ng-template #notFound>
            <div class="alert alert-warning" role="alert">
                El movimiento no ha sido encontrada.
              </div>
        </ng-template>
    </ng-container>
    
    <ng-template #loading>
        <div class="alert alert-info" role="alert">
            Cargando datos...
        </div>
    </ng-template>
</div>