
<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="!isLoginPage()">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/logo.ico" alt="Logo" width="30" height="30"
        class="d-inline-block align-text-top me-2"><span>JazFinanzasApp</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['balance']" alt="Saldos">Saldos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['report']">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['shared-expenses']">Gastos Compartidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['management/trips']">Viajes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Movimientos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['transactions']">General</a></li>
              <li><a class="dropdown-item" [routerLink]="['cardTransactions']">Tarjetas</a></li>
              <li><a class="dropdown-item" [routerLink]="['exchange']">Intercambios de Cuentas</a></li>
              <li><a class="dropdown-item" [routerLink]="['currencyExchange']">Intercambio Monedas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Inversiones
            </a>
            <ul class="dropdown-menu">              
              <li><a class="dropdown-item" [routerLink]="['cryptoTransactions']">Crypto</a></li>
              <li><a class="dropdown-item" [routerLink]="['stockTransactions']">Bolsa</a></li>
              <li><a class="dropdown-item" [routerLink]="['stockTransactions/splits']">Splits de Acciones</a></li>
              <li><a class="dropdown-item" [routerLink]="['portfolioExchange']">Intercambio de Carteras</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Gestion
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['management/assets']">Activos</a></li>
              <li><a class="dropdown-item" [routerLink]="['management/portfolio']">Carteras</a></li>
              <li><a class="dropdown-item" [routerLink]="['management/transactionClass']">Clases de Movimiento</a></li>
              <li><a class="dropdown-item" [routerLink]="['management/account']">Cuentas</a></li>
              <li><a class="dropdown-item" [routerLink]="['management/card']">Tarjetas</a></li>
              <li><a class="dropdown-item" [routerLink]="['management/people']">Personas</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto"> <!-- Alineado a la derecha con ms-auto -->

          <li class="nav-item d-flex align-items-center me-2">
            <button class="btn btn-outline-primary btn-sm"
                    (click)="themeService.toggle()"
                    [title]="themeService.isDark ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'">
              <i [class]="themeService.isDark ? 'bi bi-sun-fill' : 'bi bi-moon-fill'"></i>
            </button>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" [routerLink]="['profile']">Perfil</a></li>
              <li><a class="dropdown-item" [routerLink]="['change-password']">Cambiar Contraseña</a></li>
              <li *ngIf="isAdmin"><a class="dropdown-item" [routerLink]="['resetPassword']">Resetear Contraseña</a></li>
              <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
            </ul>

        </ul>
      </div>
    </div>
  </nav>