<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <h1 class="mb-0">Agregar Viaje</h1>
        <app-back-button [defaultUrl]="['/management/trips']"></app-back-button>
    </div>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-3">
            <label for="tripName" class="form-label">Nombre <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="tripName" name="tripName"
                [(ngModel)]="model.name" required>
        </div>
        <div class="mt-3">
            <label for="tripType" class="form-label">Tipo <span class="text-danger">*</span></label>
            <select class="form-control" id="tripType" name="tripType" [(ngModel)]="model.type" required>
                <option value="DOMESTIC">Doméstico</option>
                <option value="INTERNATIONAL">Internacional</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6 mt-3">
                <label for="tripStartDate" class="form-label">Fecha de inicio <span class="text-danger">*</span></label>
                <input type="date" class="form-control" id="tripStartDate" name="tripStartDate"
                    [(ngModel)]="model.startDate" required>
            </div>
            <div class="col-md-6 mt-3">
                <label for="tripEndDate" class="form-label">Fecha de fin <span class="text-danger">*</span></label>
                <input type="date" class="form-control" id="tripEndDate" name="tripEndDate"
                    [(ngModel)]="model.endDate" required>
            </div>
        </div>
        <div class="text-end mt-4">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
        </div>
    </form>
</div>
