<app-loading [isLoading]="isLoading"></app-loading>
<div class="container mt-4" *ngIf="!isLoading">
    <h1 class="mt-3">Tarjetas de Credito</h1>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-primary" [routerLink]="['/management/card/add']">
            Crear Tarjeta
        </a>
    </div>

    <ng-container *ngIf="cards">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of cards">
                    <td>{{ card.name }}</td>
                    <td>
                        <a title="Editar" class="btn btn-primary" [routerLink]="['/management/card',card.id]">
                            <i class="bi-pencil-fill"></i>
                        </a>
                        <button title="Eliminar" class="btn btn-danger ms-3" (click)="onDelete(card.id)">
                            <i class="bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </ng-container>
</div>