<app-loading [isLoading]="isLoading"></app-loading>

<div class="container mt-4" *ngIf="!isLoading">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Movimientos</h1>
        <a class="btn btn-primary" [routerLink]="['/transactions/add']">Nuevo <i class="bi-plus-lg"></i></a>
    </div>

    <!-- tabla de movimientos-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead >
                <tr>
                    <th >Fecha</th>
                    <th >Tipo Movimiento</th>
                    <th >Clase Movimiento</th>
                    <th >Detalle</th>
                    <th >Cuenta</th>
                    <th >Moneda</th>
                    <th class="text-end">Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalTransactions}">
                    <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ transaction.movementType | movementType }}</td>
                    <td>{{ transaction.transactionClassName }}</td>
                    <td>{{ transaction.detail }}</td>
                    <td>{{ transaction.accountName }}</td>
                    <td>{{ transaction.assetName }}</td>
                    <td class="text-end" [ngClass]="{'table-danger': transaction.amount < 0, 'table-success': transaction.amount >= 0}">
                        {{ transaction.amount | currencyFiatFormat }}
                    </td>
                    <td>
                        <div class="justify-content-around">
                            <button class="btn btn-sm btn-primary m-1" title="Editar" [routerLink]="['/transactions', transaction.id]" ><i class="bi-pencil-fill"></i></button>
                            <button class="btn btn-sm btn-danger m-1" title="Eliminar" (click)="onDeleteTransaction(transaction)"><i class="bi-trash-fill"></i></button>
                            <button *ngIf="transaction.movementType === 'E'" 
                                class="btn btn-sm btn-warning m-1" 
                                title="Reintegro" 
                                [routerLink]="['/transactions/refund', transaction.id]">
                                <i class="bi-box-arrow-in-up-right"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginacion-->
    <div class="d-flex justify-content-center">
        <pagination-controls 
        (pageChange)="onPageChange($event)"
        [responsive]="true"
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'">
    </pagination-controls>
    </div>
</div>