<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Movimientos Crypto</h1>
        <a class="btn btn-primary" [routerLink]="['/cryptoMovements/add']">Nuevo <i class="bi-plus-lg"></i></a>
    </div>

    <!-- tabla de movimientos-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead >
                <tr>
                    <th >Fecha</th>
                    <th >Tipo Mov.</th>
                    <th >Tipo Comercio</th>
                    <th >Activo Egreso</th>
                    <!-- <th >Cuenta Egreso</th> -->
                    <th class="text-end">Cantidad Egreso</th>
                    <th class="text-end">Cotización Egreso</th>
                    <th >Activo Ingreso</th>
                    <!-- <th >Cuenta Ingreso</th> -->
                    <th class="text-end">Cantidad Ingreso</th>
                    <th class="text-end ">Cotización Ingreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movement of cryptoMovements | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalCryptoMovements}">
                    <td>{{ movement.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ movement.movementType | movementType }}</td>
                    <td>{{ movement.commerceType | commerceType }}</td>
                    <td class="table-danger">{{ movement.expenseAsset ?? ''}}</td>
                    <!-- <td>{{ movement.expenseAccount ?? '' }}</td> -->
                    <td class="text-end" class="table-danger">
                        {{  movement.expenseAmount != null ? (-movement.expenseAmount | currencyInvestmentFormat) : ''  }}
                    </td>
                    <td class="text-end" class="table-danger">
                        {{  movement.expenseQuote != null ? (movement.expenseQuote | currencyInvestmentFormat) : '' }}
                    </td>
                    <td class="table-success">{{ movement.incomeAsset ?? ''}}</td>
                    <!-- <td>{{ movement.incomeAccount ?? ''}}</td> -->
                    <td class="text-end" class="table-success">
                        {{ movement.incomeAmount != null ? (movement.incomeAmount | currencyInvestmentFormat) : ''   }}
                    </td>
                    <td class="text-end" class="table-success">
                        {{ movement.incomeQuote != null ? (movement.incomeQuote | currencyInvestmentFormat) : ''  }}
                    </td>
                    <td>
                        <div class="justify-content-around">
                            <button class="btn btn-sm btn-primary m-1" title="Editar" [routerLink]="['/movements', movement.id]" ><i class="bi-pencil-fill"></i></button>
                            <button class="btn btn-sm btn-danger m-1" title="Eliminar" (click)="onDeleteMovement(movement)"><i class="bi-trash-fill"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginacion-->
    <div class="d-flex justify-content-center">
        <pagination-controls 
        (pageChange)="onPageChange($event)"
        [responsive]="true"
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'">
    </pagination-controls>
    </div>
</div>