<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <h1 class="mb-0">Resetear Contraseña</h1>
        <app-back-button [defaultUrl]="['/home']"></app-back-button>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mt-2">
            <div class="form-group mt-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="username" 
                    class="form-control"
                    id="text"
                    formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted }"
                >
                <div  *ngIf="submitted" class="invalid-feedback">
                    Usuario es requerido
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary m-1">Aceptar</button>
                </div>
            </div>
        </div>
    </form>
</div>  

