<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Movimientos Tarjeta de Credito</h1>
        <div>
            <a class="btn btn-primary m-1" [routerLink]="['/cardMovements/add']">Nuevo <i class="bi-plus-lg"></i></a>
            <a class="btn btn-warning">Pago Tarjeta</a> 
        </div>        
    </div>

    <!-- tabla de movimientos-->
     <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tarjeta</th>
                    <th>Clase Movimiento</th>
                    <th>Detalle</th>
                    <th>Cuotas</th>
                    <th>Moneda</th>
                    <th class="text-end">Monto</th>
                    <th>Primer Cuota</th>
                    <th>Ultima Cuota</th>
                    <th class="text-end">Monto Cuota</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cardMovement of cardMovements" >
                    <td class="align-middle">{{cardMovement.date | date: 'dd/MM/yyyy'}}</td>
                    <td class="align-middle">{{cardMovement.card}}</td>
                    <td class="align-middle">{{cardMovement.movementClass}}</td>
                    <td class="align-middle">{{cardMovement.detail}}</td>
                    <td class="align-middle">{{cardMovement.installments}}</td>
                    <td class="align-middle">{{cardMovement.asset}}</td>
                    <td class="align-middle text-end">{{cardMovement.totalAmount | currencyFiatFormat}}</td>
                    <td class="align-middle">{{cardMovement.firstInstallment | date: 'MM/yyyy'}}</td>
                    <td class="align-middle">{{cardMovement.lastInstallment}}</td>
                    <td class="align-middle text-end">{{cardMovement.installmentAmount | currencyFiatFormat}}</td>
                    <td class="align-middle">
                        <div class="justify-content-around">
                            <button *ngIf="cardMovement.installments == 'Recurrente'" class="btn btn-sm btn-primary m-1" title="Editar Recurrente" ><i class="bi-pencil-fill"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
</div>