<app-loading [isLoading]="isLoading"></app-loading>


<div class="container mt-4" *ngIf="!isLoading">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Intercambio de Carteras</h1>
        <a class="btn btn-primary" [routerLink]="['/portfolioExchange/add']">Nuevo <i class="bi-plus-lg"></i></a>
    </div>

    <!-- tabla de movimientos-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Activo</th>
                    <th>Cuenta</th>
                    <th class="text-center table-danger">Cartera Egreso</th>
                    <th class="text-center table-success">Cartera Ingreso</th>
                    <th class="text-end">Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of portfolioExchanges | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalPortfolioExchanges}">
                    <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ transaction.expenseAsset ?? ''}}</td>
                    <td>{{ transaction.expenseAccount ?? '' }}</td>
                    <td class="text-center table-danger">{{ transaction.expensePortfolio ?? '' }}</td>
                    <td class="text-center table-success">{{ transaction.incomePortfolio ?? '' }}</td>
                    <td class="text-end">
                        {{ transaction.incomeAmount != null ? (transaction.incomeAmount ) : ''   }}
                    </td>
                    <td>
                        <div class="justify-content-around">
                            <button class="btn btn-sm btn-danger m-1" title="Eliminar" (click)="onDeleteExchange(transaction)"><i class="bi-trash-fill"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginacion-->
    <div class="d-flex justify-content-center">
        <pagination-controls 
        (pageChange)="onPageChange($event)"
        [responsive]="true"
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'">
    </pagination-controls>
    </div>
</div>