<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Intercambio de Carteras</h1>
        <a class="btn btn-primary" [routerLink]="['/portfolioExchange/add']">Nuevo <i class="bi-plus-lg"></i></a>
    </div>

    <!-- tabla de movimientos-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="align-middle text-center">
                <tr>
                    <th rowspan="2">Fecha</th>
                    <th rowspan="2">Activo</th>
                    <th rowspan="2">Cuenta</th>
                    <th colspan="6" class="border border-dark  fw-bold">Cartera</th>
                    <th rowspan="2" class="text-end">Monto</th>
                    <th rowspan="2">Acciones</th>
                </tr>
                <tr>
                    <th colspan="3" class="table-danger border border-dark">Egreso</th>
                    <th colspan="3" class="table-success border border-dark">Ingreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of portfolioExchanges | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalPortfolioExchanges}">
                    <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ transaction.expenseAsset ?? ''}}</td>
                    <td>{{ transaction.expenseAccount ?? '' }}</td>
                    <td class="text-center table-danger">{{ transaction.expensePortfolio ?? '' }}</td>
                    <td class="text-center table-success">{{ transaction.incomePortfolio ?? '' }}</td>
                    <td class="text-end">
                        {{ transaction.incomeAmount != null ? (transaction.incomeAmount | currencyFiatFormat) : ''   }}
                    </td>
                    <td>
                        <div class="justify-content-around">
                            <!-- <button class="btn btn-sm btn-danger m-1" title="Eliminar" (click)="onDeleteExchange(transaction)"><i class="bi-trash-fill"></i></button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginacion-->
    <div class="d-flex justify-content-center">
        <pagination-controls 
        (pageChange)="onPageChange($event)"
        [responsive]="true"
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'">
    </pagination-controls>
    </div>
</div>