<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Movimientos Crypto</h1>
        <a class="btn btn-primary" [routerLink]="['/cryptoTransactions/add']">Nuevo <i class="bi-plus-lg"></i></a>
    </div>

    <!-- tabla de movimientos-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th rowspan="2">Fecha</th>
                    <th rowspan="2">Tipo Mov.</th>
                    <th rowspan="2">Tipo Comercio</th>
                    <th colspan="3" class="text-center table-danger">Egreso</th>
                    <th colspan="3" class="text-center table-success">Ingreso</th>
                    <th rowspan="2">Acciones</th>
                </tr>
                <tr>
                    <th class="table-danger">Activo</th>
                    <th class="text-end table-danger">Cantidad</th>
                    <th class="text-end table-danger">Cotización</th>
                    <th class="table-success">Activo</th>
                    <th class="text-end table-success">Cantidad</th>
                    <th class="text-end table-success">Cotización</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movement of cryptoTransactions | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalCryptoTransactions}">
                    <td>{{ movement.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ movement.movementType | movementType }}</td>
                    <td>{{ movement.commerceType | commerceType }}</td>
                    <td class="table-danger">{{ movement.expenseAsset ?? ''}}</td>
                    <!-- <td>{{ movement.expenseAccount ?? '' }}</td> -->
                    <td class="text-end table-danger">
                        {{  movement.expenseAmount != null ? (-movement.expenseAmount | currencyInvestmentFormat) : ''  }}
                    </td>
                    <td class="text-end table-danger">
                        {{  movement.expenseQuote != null ? (movement.expenseQuote | currencyInvestmentFormat) : '' }}
                    </td>
                    <td class="table-success">{{ movement.incomeAsset ?? ''}}</td>
                    <!-- <td>{{ movement.incomeAccount ?? ''}}</td> -->
                    <td class="text-end table-success">
                        {{ movement.incomeAmount != null ? (movement.incomeAmount | currencyInvestmentFormat) : ''   }}
                    </td>
                    <td class="text-end table-success">
                        {{ movement.incomeQuote != null ? (movement.incomeQuote | currencyInvestmentFormat) : ''  }}
                    </td>
                    <td>
                        <div class="justify-content-around">
                            <button class="btn btn-sm btn-danger m-1" title="Eliminar" (click)="onDeleteMovement(movement)"><i class="bi-trash-fill"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginacion-->
    <div class="d-flex justify-content-center">
        <pagination-controls 
        (pageChange)="onPageChange($event)"
        [responsive]="true"
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'">
    </pagination-controls>
    </div>
</div>