<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Movimientos Crypto</h1>
        <a class="btn btn-primary" [routerLink]="['/cryptoTransactions/add']">Nuevo <i class="bi-plus-lg"></i></a>
    </div>

    <!-- tabla de movimientos-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th rowspan="2">Fecha</th>
                    <th rowspan="2">Tipo Mov.</th>
                    <th rowspan="2">Tipo Comercio</th>
                    <th colspan="4" class="text-center table-danger">Egreso</th>
                    <th colspan="4" class="text-center table-success">Ingreso</th>
                    <th rowspan="2">Acciones</th>
                </tr>
                <tr>
                    <th class="table-danger">Activo</th>
                    <th class="table-danger">Cuenta</th>
                    <th class="text-end table-danger">Cantidad</th>
                    <th class="text-end table-danger">Cotización</th>
                    <th class="table-success">Activo</th>
                    <th class="table-success">Cuenta</th>
                    <th class="text-end table-success">Cantidad</th>
                    <th class="text-end table-success">Cotización</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of cryptoTransactions | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalCryptoTransactions}">
                    <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ transaction.movementType | movementType }}</td>
                    <td>{{ transaction.commerceType | commerceType }}</td>
                    <td class="table-danger">{{ transaction.expenseAsset ?? ''}}</td>
                    <td class="table-danger">{{ transaction.expenseAccount ?? '' }}</td>
                    <td class="text-end table-danger">
                        {{  transaction.expenseAmount != null ? (-transaction.expenseAmount | currencyInvestmentFormat) : ''  }}
                    </td>
                    <td class="text-end table-danger">
                        {{  transaction.expenseQuote != null ? (transaction.expenseQuote | currencyInvestmentFormat) : '' }}
                    </td>
                    <td class="table-success">{{ transaction.incomeAsset ?? ''}}</td>
                    <td class="table-success">{{ transaction.incomeAccount ?? ''}}</td>
                    <td class="text-end table-success">
                        {{ transaction.incomeAmount != null ? (transaction.incomeAmount | currencyInvestmentFormat) : ''   }}
                    </td>
                    <td class="text-end table-success">
                        {{ transaction.incomeQuote != null ? (transaction.incomeQuote | currencyInvestmentFormat) : ''  }}
                    </td>
                    <td>
                        <div class="justify-content-around">
                            <button class="btn btn-sm btn-danger m-1" title="Eliminar" (click)="onDeleteTransaction(transaction)"><i class="bi-trash-fill"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginacion-->
    <div class="d-flex justify-content-center">
        <pagination-controls 
        (pageChange)="onPageChange($event)"
        [responsive]="true"
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'">
    </pagination-controls>
    </div>
</div>