.text-end {
    text-align: right; /* Alineación a la derecha para el monto */
}

.table th, .table td {
    white-space: nowrap;
}
.table {
    font-size: 0.8rem;
}
.small-font-input {
    font-size: 0.8rem;
  }