<div class="container">
    <h1 class="mt-3">Crear Movimiento Crypto</h1>

    <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
    </div>
    <form 
        [formGroup]="cryptoTransactionForm"
        (ngSubmit)="onSubmit()"
    >    
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label" for="movementType">Tipo de Movimiento</label>
                <select id="movementType" class="form-control" formControlName="movementType" 
                    (change)="onMovementTypeChange($event)"
                >
                    <option value="" disabled selected>Seleccione</option>
                    <option value="I">Ingreso</option>
                    <option value="E">Egreso</option>
                    <option value="EX">Intercambio</option>
                </select>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['movementType'].errors?.['incorrect']">
                    Debe seleccionarse un tipo de movimiento.
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="commerceType">Tipo de Comercio</label>
                <select id="commerceType" class="form-control" formControlName="commerceType" 
                    (change)="onCommerceTypeChange($event)"
                >
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let commerceType of commerceTypes" [value]="commerceType.id">{{ commerceType.name }}</option>
                </select>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['commerceType'].errors?.['incorrect']">
                    Debe seleccionarse un tipo de comercio.
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label" for="date">Fecha</label>
                <input type="date" class="form-control" id="date" formControlName="date">
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['date'].errors?.['incorrect']">
                    Debe seleccionarse una fecha.
                </div>
            </div>              
                
        </div>
        <div 
            class="row mb-3"
            id="ExpensesGroup"
            *ngIf="selectedCommerceType && ( (selectedMovementType === 'E') || (selectedMovementType === 'EX') || 
            (selectedMovementType === 'I' && selectedCommerceType === 'Fiat/Crypto Commerce'))"
        >
            <div class="col-12">
                <h4>Egreso</h4>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="expenseAsset">Activo</label>
                <select id="expenseAsset" class="form-control" formControlName="expenseAsset">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let asset of expenseAssets" [value]="asset.id">{{ asset.name }}</option>
                </select>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['expenseAsset'].errors?.['incorrect']">
                    Debe seleccionarse un activo.
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="expenseAccount">Cuenta</label>
                <select id="expenseAccount" class="form-control" formControlName="expenseAccount">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let account of expenseAccounts" [value]="account.id">{{ account.name }}</option>
                </select>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['expenseAccount'].errors?.['incorrect']">
                    Debe seleccionarse una cuenta.
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="expenseAmount">Cantidad</label>
                <input type="string" class="form-control" id="expenseAmount" formControlName="expenseAmount" appInvestmentInput>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['expenseAmount'].errors?.['incorrect']">
                    Debe ingresarse una cantidad.
                </div>
            </div>
            <div class="col-md-6" *ngIf="selectedMovementType === 'E' || selectedMovementType == 'EX'">
                <label class="form-label" for="expenseQuote">Cotizacion en USD</label>
                <input type="string" class="form-control" id="expenseQuote" formControlName="expenseQuote" appInvestmentInput>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['expenseQuote'].errors?.['incorrect']">
                    Debe ingresarse una cotizacion.
                </div>
            </div>
        </div>
        <div 
            class="row mb-3"
            id="IncomesGroup"
            *ngIf=" selectedCommerceType && ((selectedMovementType === 'I') || (selectedMovementType === 'EX') || 
            (selectedMovementType === 'E' && selectedCommerceType === 'Fiat/Crypto Commerce'))"
        >
            <div class="col-12">
                <h4>Ingreso</h4>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="incomeAsset">Activo</label>
                <select id="incomeAsset" class="form-control" formControlName="incomeAsset">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let asset of incomeAssets" [value]="asset.id">{{ asset.name }}</option>
                </select>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['incomeAsset'].errors?.['incorrect']">
                    Debe seleccionarse un activo.
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="incomeAccount">Cuenta</label>
                <select id="incomeAccount" class="form-control" formControlName="incomeAccount">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let account of incomeAccounts" [value]="account.id">{{ account.name }}</option>
                </select>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['incomeAccount'].errors?.['incorrect']">
                    Debe seleccionarse una cuenta.
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="incomeAmount">Cantidad</label>
                <input type="string" class="form-control" id="incomeAmount" formControlName="incomeAmount" appInvestmentInput>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['incomeAmount'].errors?.['incorrect']">
                    Debe ingresarse una cantidad.
                </div>
            </div>
            <div class="col-md-6" *ngIf="selectedMovementType === 'I' || selectedMovementType == 'EX'">
                <label class="form-label" for="incomeQuote">Cotizacion en USD</label>
                <input type="string" class="form-control" id="incomeQuote" formControlName="incomeQuote" appInvestmentInput>
                <div class="text-danger mt-2" *ngIf="cryptoTransactionForm.controls['incomeQuote'].errors?.['incorrect']">
                    Debe ingresarse una cotizacion.
                </div>
            </div>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary m-1">Guardar</button>
            <a [routerLink]="['/cryptoTransactions']" class="btn btn-secondary m-1">Volver</a>
        </div>       
        
    </form>
</div>